<h1 class="text-center">Listing all articles</h1>

<div class="row">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => "mx-auto") %>
</div>

<%= render 'article', obj: @articles %>

<div class="row">
  <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => "mx-auto") %>
</div>
