@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron h1 {
  color: #fff;
  margin-bottom: 20px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover {
  color:222;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
