<h1 class="text-center">Listing All Categories</h1>

<div class="row">
  <%= will_paginate(@categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => "mx-auto") %>
</div>

<% @categories.each do |category| %>
  <div class="row mb-3">
    <div class="card bg-light col-6 offset-3 mb-2">
      <div class="card-body text-center">
        <div class="card-text">
          <h4><%= link_to "#{category.name}", category_path(category) %></h4>
        </div>
        <small class="card-text"><%= pluralize(category.articles.count, "article") %></small>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <%= will_paginate(@categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :class => "mx-auto") %>
</div>
